.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}

.key-row {
  display: flex;
  justify-content: center; /* מרכז את המקשים בשורה */
  gap: 6px; /* רווח בין המקשים */
  width: 100%; /* השורה תתפוס את כל הרוחב */
}

.key {
  width: 48px;
  height: 48px;
  background-color: #f3f3f3;
  border: 2px solid #ccc;
  border-radius: 6px;
  text-align: center;
  line-height: 24px;
  padding: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.space-key {
  width: 300px; /* קבע את הרוחב הרצוי למקש ה-Space */
  height: 48px; /* שמור על גובה זהה לשאר המקשים */
  text-align: center;
  background-color: #e0e0e0;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-switch-key {
  display: flex;
  background-image: url("https://img.icons8.com/material-sharp/48/itranslate.png");
  background-size: cover;
  background-position: center;
}

.enter-key {
  width: 100px; 
  text-align: center;
  background-color: #e0e0e0;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key .en {
  font-weight: bold;
}

.key .he {
  font-size: 0.7em;
  color: #777;
}

.key.active {
  background-color: #c2e7ff;
  border-color: #2b9ff3;
}
